<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" >
        <meta name="viewport" content="width=device-width,
        initial-scale=1.0">
        <title>About Us - Harsha's Restaraunt</title>
        <script src="https://cdn.tailwandcss.com"></script
    </head>
    <body class="bg-gray-50 text-gray-800">
    <div class="max-w-4xl mx-auto px-4 py-10 text-center">
    <h1 class="text-4xl font-bold text-red-700 mb-6">
    About Harsha's Restaraunt
    </h1>
    <img src="{% static 'images/interior.jpg' %}" alt="Restaraunt" class="w-full max-w-lg mx-auto rounded-lg shadow-lg mb-8">
    <p class="text-lg leading-relaxed mb-4">
    Welcome to <span class="font-semibold">Harsha's Restaraunt</span>,
    Where we serve fresh, delicious meals made with love and local ingredients.Our mission is to bring people to gether through the joy of food, weather its's a family dinner, a romantic evening,or a quite lunch.
    </p>
    <p class="text-lg leading-relaxed">
    From our warm, cozy interiors to our friendly staff, evry detial is designed to make yout dining experience memorabl.Come taste the difference!
    </p>
    </body> 
</html>